@import './public/reset.scss';
@import './public/Style.scss';

.clear {
    clear: both;
}
.loading {
    z-index: 100;

    display: flex;

    width: rem(750);
    height: rem(1334);

    @include bg_fn(url('../img/loding.gif'),
    no-repeat,
    center,
    cover);
    &.hide {
        position: absolute;
        z-index: -100;

        display: none;
    }
    .loading-in {
        font-size: rem(36);
        font-weight: 600;

        display: block;

        margin: 0 auto;
        margin-top: rem(1100);
    }
}

.share {
    position: fixed;
    z-index: -200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;

    @include bg_fn(url('../img/shareshade.png'),
    no-repeat,
    center,
    cover);
    &.show {
        z-index: 101;

        opacity: .8;
    }
}

.share-dear-shadow {
    position: fixed;
    z-index: -200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;

    @include bg_fn(url('../img/shareshade2.png'),
    no-repeat,
    center,
    cover);
    &.show {
        z-index: 101;

        opacity: .8;
    }
}

.hotel-box {
    position: fixed;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: rem(45);
   

    opacity: 0;
    background: rgba(0, 0, 0, .6);

   
    &.show {
        z-index: 13;

        opacity: 1;
    }
    .hotel-popover {
        position: absolute;
        z-index: -200;

        width: rem(648);
        height: rem(1152);

        @include bg_fn(url('../img/hotelpopover.gif'),
        no-repeat,
        center,
        cover);
    }
    .go-on {
        display: block;
        position: absolute;
        top: rem(1028);
        left: rem(45);

        width: rem(266);
        height: rem(76);
    }
    .will-share {
        display: block;
        position: absolute;
        top: rem(1028);
        left: rem(336.8);

        width: rem(266);
        height: rem(76);
    }
}

.movie-box {
    position: fixed;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    

    opacity: 0;
    background: rgba(0, 0, 0, .6);

    padding-left: rem(45);
    &.show {
        z-index: 13;

        opacity: 1;
    }
    .movie-popover {
        position: absolute;
        z-index: -200;

        width: rem(648);
        height: rem(1152);

        @include bg_fn(url('../img/moviepopover.gif'),
        no-repeat,
        center,
        cover);
    }
    .go-on {
        position: absolute;
        top: rem(1028);
        left: rem(45);

        width: rem(266);
        height: rem(76);
    }
    .will-share {
        position: absolute;
        top: rem(1028);
         left: rem(336.8);

        width: rem(266);
        height: rem(76);
    }
}

.ktv-box {
    position: fixed;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    

    opacity: 0;
    background: rgba(0, 0, 0, .6);

    padding-left: rem(45);
    &.show {
        z-index: 13;

        opacity: 1;
    }
    .ktv-popover {
        position: absolute;
        z-index: -200;

        width: rem(648);
        height: rem(1152);

        @include bg_fn(url('../img/ktvpopover.gif'),
        no-repeat,
        center,
        cover);
    }
    .go-on {
        position: absolute;
        top: rem(1028);
        left: rem(45);

        width: rem(266);
        height: rem(76);
    }
    .will-share {
        position: absolute;
        top: rem(1028);
         left: rem(336.8);

        width: rem(266);
        height: rem(76);
    }
}

.doubleroom-box {
    position: fixed;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

   

    opacity: 0;
    background: rgba(0, 0, 0, .6);

    padding-left: rem(45);
    &.show {
        z-index: 13;

        opacity: 1;
    }
    .doubleroom-popover {
        position: absolute;
        z-index: -200;

        width: rem(648);
        height: rem(1152);

        @include bg_fn(url('../img/doubleroompopover.gif'),
        no-repeat,
        center,
        cover);
    }
    .go-on {
        position: absolute;
        top: rem(1028);
        left: rem(45);

        width: rem(266);
        height: rem(76);
    }
    .will-share {
        position: absolute;
        top: rem(1028);
         left: rem(336.8);

        width: rem(266);
        height: rem(76);
    }
}

.wheel-box {
    position: fixed;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    

    opacity: 0;
    background: rgba(0, 0, 0, .6);

    padding-left: rem(45);
    &.show {
        z-index: 13;

        opacity: 1;
    }
    .wheel-popover {
        position: absolute;
        z-index: -200;

        width: rem(648);
        height: rem(1152);

        @include bg_fn(url('../img/wheelpopover.gif'),
        no-repeat,
        center,
        cover);
    }
    .go-on {
        position: absolute;
        top: rem(1028);
        left: rem(45);

        width: rem(266);
        height: rem(76);
    }
    .will-share {
        position: absolute;
        top: rem(1028);
         left: rem(336.8);

        width: rem(266);
        height: rem(76);
    }
}

.bank-box {
    position: fixed;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

   

    opacity: 0;
    background: rgba(0, 0, 0, .6);

   padding-left: rem(45);
    &.show {
        z-index: 13;

        opacity: 1;
    }
    .bank-popover {
        position: absolute;
        z-index: -200;

        width: rem(648);
        height: rem(1152);

        @include bg_fn(url('../img/bankpopover.gif'),
        no-repeat,
        center,
        cover);
    }
    .go-on {
        position: absolute;
        top: rem(1028);
        left: rem(45);

        width: rem(266);
        height: rem(76);
    }
    .will-share {
        position: absolute;
        top: rem(1028);
         left: rem(336.8);

        width: rem(266);
        height: rem(76);
    }
}

.boon-box {
    position: fixed;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

   

    opacity: 0;
    background: rgba(0, 0, 0, .6);
    padding-left: rem(45);
    &.show {
        z-index: 13;

        opacity: 1;
    }
    .get-singledog-boon {
        position: absolute;
        z-index: -200;
        width: rem(648);
        height: rem(1152);

        @include bg_fn(url('../img/singledogboon.jpg'),
        no-repeat,
        center,
        cover);
    }
    .get-welfare {
        position: absolute;
        top: rem(915);
        left: rem(25);

        width: rem(285);
        height: rem(83);
    }
    .share-dear {
        position: absolute;
        top: rem(915);
        left: rem(338);
        width: rem(285);
        height: rem(83);
    }
}

.app {
    overflow: hidden;
    width: rem(750);
    margin: 0 auto;
    position: relative;

    .container {
        display: none;
        &.show{
          display: block;
        }
        .architecture {
            width: rem(750);
            height: rem(1280);

            @include bg_fn(url('../img/architecture.jpg'),
            no-repeat,
            center,
            cover);
        }
        .hotel {
            width: rem(750);
            height: rem(1280);

            @include bg_fn(url('../img/architecture2.jpg'),
            no-repeat,
            center,
            cover);
        }
        .movie {
            width: rem(750);
            height: rem(1280);

            @include bg_fn(url('../img/movie.jpg'),
            no-repeat,
            center,
            cover);
        }
        .ktvtop {
            width: rem(750);
            height: rem(1360);

            @include bg_fn(url('../img/ktvtop.gif'),
            no-repeat,
            center,
            cover);
        }
        .ktvdown {
            width: rem(750);
            height: rem(1000);

            @include bg_fn(url('../img/ktvdown.jpg'),
            no-repeat,
            center,
            cover);
        }
        .doubleroom {
            width: rem(750);
            height: rem(1700);

            @include bg_fn(url('../img/doubleroom.gif'),
            no-repeat,
            center,
            cover);
        }
        .wheel {
            width: rem(750);
            height: rem(1740);

            @include bg_fn(url('../img/wheel.gif'),
            no-repeat,
            center,
            cover);
        }
        .bank {
            width: rem(750);
            height: rem(1260);

            @include bg_fn(url('../img/bank.jpg'),
            no-repeat,
            center,
            cover);
        }
        .tree {
            width: rem(750);
            height: rem(600);

            @include bg_fn(url('../img/tree.gif'),
            no-repeat,
            center,
            cover);
        }
        .boon {
            width: rem(750);
            height: rem(1100);

            @include bg_fn(url('../img/boon.jpg'),
            no-repeat,
            center,
            cover);
        }
        .header-singledog {
            position: absolute;
            z-index: 11;
            top: rem(0);

            width: rem(750);
            height: rem(800);

            opacity: 0;

            @include bg_fn(url('../img/header.png'),
            no-repeat,
            center,
            cover);
        }
        .header-singledog-word1 {
            position: absolute;
            z-index: 11;
            top: rem(77);
            left: rem(302);
            width: rem(191);
            height: rem(51);

            opacity: 0;

            @include bg_fn(url('../img/header-singledog-word1.png'),
            no-repeat,
            center,
            cover);
        }
        .header-singledog-word2 {
            position: absolute;
            z-index: 11;
            top: rem(173);
            left: rem(340);

            width: rem(350);
            height: rem(53);

            opacity: 0;

            @include bg_fn(url('../img/header-singledog-word2.png'),
            no-repeat,
            center,
            cover);
        }
        .header-singledog-word3 {
            position: absolute;
            z-index: 11;
            top: rem(277);
            left: rem(340);


            width: rem(299);
            height: rem(52);

            opacity: 0;

            @include bg_fn(url('../img/header-singledog-word3.png'),
            no-repeat,
            center,
            cover);
        }
        .header-singledog-word4 {
            position: absolute;
            z-index: 11;
            top: rem(387);
            left: rem(440);

            width: rem(227);
            height: rem(52);

            opacity: 0;

            @include bg_fn(url('../img/header-singledog-word4.png'),
            no-repeat,
            center,
            cover);
        }

        .hotel-singledog {
            position: absolute;
            z-index: 11;
            top: rem(2100);
            left: rem(53);
            width: rem(192);
            height: rem(431);
            @include bg_fn(url('../img/run.png'),
            no-repeat,
            center,
            cover);
        }
        .hotel-down{ 
            position: absolute;
            z-index: 11;
            width: rem(75);
            height: rem(80);
            top: rem(2525);
            left: rem(82.5);
            @include bg_fn(url('../img/down.png'),
            no-repeat,
            center,
            cover);
        }
        .movie-singledog {
            position: absolute;
            z-index: 11;
            top: rem(4042.5);
            left: rem(502.5);

            width: rem(192);
            height: rem(431);


            @include bg_fn(url('../img/run2.png'),
            no-repeat,
            center,
            cover);
        }
        .movie-down{
            position: absolute;
            z-index: 11;
            width: rem(75);
            height: rem(80);
            top: rem(4425);
            left: rem(577.5);
            @include bg_fn(url('../img/down.png'),
            no-repeat,
            center,
            cover);
        }
        .ktv-singledog {
            position: absolute;
            z-index: 11;
            top: rem(6062.5);
            left: rem(292.5);

            width: rem(192);
            height: rem(431);

            @include bg_fn(url('../img/run.png'),
            no-repeat,
            center,
            cover);
        }
        .ktv-down{
            position: absolute;
            z-index: 11;
            width: rem(75);
            height: rem(80);
            top: rem(6487.5);
            left: rem(322.5);
            @include bg_fn(url('../img/down.png'),
            no-repeat,
            center,
            cover);
        }
        .doubleroom-singledog {
            position: absolute;
            z-index: 11;
            top: rem(7762.5);
            left: rem(492);

            width: rem(192);
            height: rem(431);

            @include bg_fn(url('../img/run2.png'),
            no-repeat,
            center,
            cover);
        }
          .doubleroom-down{
            position: absolute;
            z-index: 11;
            width: rem(75);
            height: rem(80);
            top: rem(8153);
            left: rem(567);
            @include bg_fn(url('../img/down.png'),
            no-repeat,
            center,
            cover);
        }
        .wheel-singledog {
            position: absolute;
            z-index: 11;
            top: rem(9150);
            left: rem(17.3);

            width: rem(192);
            height: rem(431);

            @include bg_fn(url('../img/run.png'),
            no-repeat,
            center,
            cover);
        }
        .wheel-down{
            position: absolute;
            z-index: 11;
            width: rem(75);
            height: rem(80);
            top: rem(9575);
            left: rem(47.3);
            @include bg_fn(url('../img/down.png'),
            no-repeat,
            center,
            cover);
        }
        .bank-singledog {
            position: absolute;
            z-index: 11;
            top: rem(10575);
            left: rem(548);

            width: rem(192);
            height: rem(431);

        

            @include bg_fn(url('../img/run2.png'),
            no-repeat,
            center,
            cover);
        }
        .bank-down{
            position: absolute;
            z-index: 11;
            width: rem(75);
            height: rem(80);
            top: rem(10973.5);
            left: rem(622.5);
            @include bg_fn(url('../img/down.png'),
            no-repeat,
            center,
            cover);
        }
        .peer-hotel {
            position: absolute;
            z-index: 12;
            top: rem(1634);
            left: rem(200);
            

            width: rem(200);
            height: rem(300);

            .asdfw{
                width: rem(200);
                height: rem(300);
                @include bg_fn(url('../img/peepbuttonleft.png'),
                no-repeat,
                center,
                cover);
                animation-iteration-count: infinite;
            }
        }
        .peer-hotel-click{
            position: absolute;
            z-index: 11;
            top: rem(1754);
            left: rem(200);
            width: rem(350);
            height: rem(350);
            animation-duration: 1s;
            animation-iteration-count: infinite; 
            @include bg_fn(url('../img/peerhotelclick.png'),
            no-repeat,
            center,
            cover);
        } 



        .peer-movie {
            position: absolute;
            z-index: 12;
            top: rem(3657);
            left: rem(572);

            width: rem(200);
            height: rem(300);

            
            .asdfw{
                width: rem(200);
                height: rem(300);
                @include bg_fn(url('../img/peepbuttonright.png'),
                no-repeat,
                center,
                cover);
                animation-iteration-count: infinite;
            }
        }


        .peer-ktv {
            position: absolute;
            z-index: 12;
            top: rem(5560);
            left: rem(158);

            width: rem(200);
            height: rem(300);

            
            .asdfw{
                width: rem(200);
                height: rem(300);
                @include bg_fn(url('../img/peepbuttonleft.png'),
                no-repeat,
                center,
                cover);
                animation-iteration-count: infinite;
            }
        }


        .peer-doubleroom {
            position: absolute;
            z-index: 12;
            top: rem(7282);
            left: rem(552);

            width: rem(200);
            height: rem(300);

            
            .asdfw{
                width: rem(200);
                height: rem(300);
                @include bg_fn(url('../img/peepbuttonright.png'),
                no-repeat,
                center,
                cover);
                animation-iteration-count: infinite;
            }
        }


        .peer-wheel {
            position: absolute;
            z-index: 12;
            top: rem(8887.5);
            left: rem(275);

            width: rem(200);
            height: rem(300);

            
            .asdfw{
                width: rem(200);
                height: rem(300);
                @include bg_fn(url('../img//peepbuttonright.png'),
                no-repeat,
                center,
                cover);
                animation-iteration-count: infinite;
            }
        }


        .peer-bank {
            position: absolute;
            z-index: 12;
            top: rem(10480);
            left: rem(50);

            width: rem(200);
            height: rem(300);

            
            .asdfw{
                width: rem(200);
                height: rem(300);
                @include bg_fn(url('../img/peepbuttonleft.png'),
                no-repeat,
                center,
                cover);
                animation-iteration-count: infinite;
            }
        }
        .singledog-boon {
            position: absolute;
            z-index: 20;
            top: rem(12233);
            left: rem(263);

            width: rem(142);
            height: rem(220);
        }
    }
}